@model VacifyWeb.ViewModels.VacationRequestViewModel

@{
    ViewBag.Title = "Vacify";
}

<div class="page-header">
    <h1><span class="glyphicon glyphicon-calendar"></span> Vacify <small>Request Vacation</small></h1>
</div>
<div class="row" ng-controller="VacationRequests as vm" ng-cloak>
    <div class="alert alert-success" role="alert" ng-show="vm.successVisible" ng-animate="{show: 'fade-show', hide: 'fade-hide'}">{{ vm.successMessage }}</div>
    <div class="alert alert-danger" role="alert" ng-show="vm.errorVisible">{{ calendar.errorMessage }}</div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="thumbnail">
            <img src="@Model.PictureUrl" alt="@Model.Name" class="img-responsive" />
            <div class="caption">
                <h3>@Model.Name</h3>
                <p>Manager: @Model.Manager</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="vm.openAddModal()">Add</button>
                    <button type="button" class="btn btn-default" ng-click="vm.saveChanges()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-6 col-xs-12">
        <div tabset>
            <div tab heading="List View">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="request in vm.requests">
                            <td>{{ request.start | moment:'YYYY-MM-DD'}}</td>
                            <td>{{ request.end | moment:'YYYY-MM-DD' }}</td>
                            <td>{{ request.status }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" ng-click="vm.openEditModal(request)">Edit</button>
                                    <button type="button" class="btn btn-default" ng-click="vm.remove(request)">Remove</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div tab heading="Calendar View" select="vm.render()">
                <div ui-calendar="vm.config" ng-model="vm.eventSources" calendar="vacationRequest"></div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        (function (angular) {
            angular
                .module('vacify')
                .constant('spHostUrl', '@ViewBag.SPHostUrl');

            angular.element(document).ready(function () {
                angular.bootstrap(document, ['vacify']);
            });
        })(window.angular);
    </script>
}